api/obj/project.nuget.cache
/api/bin/Debug/net8.0
/api/obj/Debug/net8.0
/.vs/epr-calculator-api
/.vs/ProjectEvaluation
/.vs/EPR.Calculator.API
/EPR.Calculator.API/bin
/EPR.Calculator.API/obj
/EPR.Calculator.API.UnitTests/bin/Debug/net8.0
/EPR.Calculator.API.UnitTests/obj/Debug/net8.0
/EPR.Calculator.API.UnitTests/obj
/EPR.Calculator.API.UnitTests/bin/Release/net8.0
/src/.vs/EPR.Calculator.API/FileContentIndex
/src/EPR.Calculator.API/bin
/src/EPR.Calculator.API.Data/bin
/src/EPR.Calculator.API/obj
/src/EPR.Calculator.API.UnitTests/bin
/src/EPR.Calculator.API.UnitTests/obj
/src/.vs/EPR.Calculator.API/v17
/src/.vs/EPR.Calculator.API/DesignTimeBuild
/src/.vs
/src/bin/Debug
/src/obj
/.vs
/src/EPR.Calculator.API.Data/obj
*.user
/obj
