[*.cs]

# SA1411: Attribute constructor should not use unnecessary parenthesis
dotnet_diagnostic.SA1411.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# SA1206: Declaration keywords should follow order
dotnet_diagnostic.SA1206.severity = silent
